
</div>
</div>
<!-- /#page-content-wrapper -->
</div>
<script type="application/javascript" src="js/jquery.js"></script>
<script type="application/javascript" src="js/bootstrap.min.js"></script>
<script type="application/javascript">
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>
<script type="application/javascript" src="js/vue.min.js"></script>
<script type="application/javascript" src="js/managements.js"></script>
</body>
</html>